<div id="cover-spin"></div>

<div class="lockscreen-wrapper" ng-init="Initialize()">

    <div class="lockscreen-logo">

        <img src="images/LOGO2.png" />

    </div>

    <div class="card">

        <div class="card-body login-card-body">

            <form name="changePasswordForm">

                <div ng-show="showOldPassword">

                    <div style="display:flex">

                        <input id="oldPassword" ng-model="oldPassword" style="margin-right:10px" type="password" class="form-control roundedCAP" placeholder={{placeHolderOldPassword}}>
                        <span class="fa fa-lock" style="float:right;font-size:30px"></span>

                    </div>

                    <br />

                </div>

                <div>

                    <div style="display:flex">

                        <input ng-model="password1" style="margin-right:10px" type="password" class="form-control roundedCAP" placeholder={{placeHolderPassword1}} required>
                        <span class="fa fa-lock" style="float:right;font-size:30px"></span>

                    </div>

                    <br />

                </div>

                <div style="display:flex">

                    <input ng-model="password2" type="password" style="margin-right:10px" class="form-control roundedCAP" placeholder={{placeHolderPassword2}} required>
                    <span class="fa fa-lock" style="float:right;font-size:30px"></span>

                </div>

                <br />

                <div>

                    <button ng-click="go('login')" ng-disabled="changePasswordForm.$invalid" type="submit" class="btn btn-primary btn-block roundedCAP">{{txtChangePassword}}</button>

                </div>

            </form>

            <p class="mb-1"><a href="#login">{{login}}</a></p>

        </div>

    </div>

</div>
