<div id="cover-spin"></div>

<div class="lockscreen-wrapper" ng-init="Initialize()">

    <div class="lockscreen-logo">

        <img src="images/LOGO2.png" />

    </div>

    <div class="card">

        <div class="card-body login-card-body">

            <form name="recoverPasswordForm" >

               <div style="display:flex">

                    <input ng-model="password" type="password" style="margin-right:10px" class="form-control roundedCAP" placeholder={{placeHolderTFAPassword}}>
                    <span class="fa fa-lock" style="float:right;font-size:30px"></span>

                </div>

                <br />

                <div>

                    <button ng-disabled="recoverPasswordForm.$invalid" ng-click="go('changePassword')" type="submit" class="btn btn-primary btn-block roundedCAP">{{txtRecoverPassword}}</button>
                    
                </div>

            </form>

            <p class="mb-1"><a href="#login">{{login}}</a></p>

        </div>

    </div>

</div>
