<!--<div id="cover-spin"></div>-->

<div data-ng-init="Initialize()">
    <h2>{{'index.idiom'|translate}}</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img width="125" height="125" src="content/Resources/flags/argentineflag.png" ng-click="changeLanguage('es')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/spainflag.png" ng-click="changeLanguage('es')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/brazilflag.png" ng-click="changeLanguage('br')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/portugalflag.png" ng-click="changeLanguage('br')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/usaflag.png" ng-click="changeLanguage('en')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/englandflag.png" ng-click="changeLanguage('en')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/deutscheflag.png" ng-click="changeLanguage('de')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/italianflag.png" ng-click="changeLanguage('it')" /></figure>
            <figure><img width="125" height="125" src="content/Resources/flags/franceflag.png" ng-click="changeLanguage('fr')" /></figure>
        </div>
    </div>
</div>